name: dbt CI

on:
  push:
    branches: [ main ]
    paths:
      - 'dbt/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'dbt/**'

jobs:
  dbt:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./dbt

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        pip install dbt-core dbt-postgres sqlfluff

    - name: Lint with SQLFluff
      run: |
        sqlfluff lint models --dialect postgres

    - name: dbt Deps
      run: dbt deps

    - name: dbt Compile
      run: dbt compile
